<html>
<body>
<p>Dear Sir/Madam,</p> 

<p>This is an automated message</p>
<p>There is an error sending Profile: <B>${profileName}</B></p>
${ErrorTrace}
</br>
<p>Please do not reply to the address above.</p> 
<p>Thank you.</p>
<p><b>IDS Datanet Service</b></p>
</body>
</html>