
.SimpleGridDataCell ul{
	list-style-type: none;
	width: 99%;
}
.SimpleGridDataCell ul li{
	float: left;
	width: 16%;
	font-size: 8pt;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.SimpleGridDataCell ul li:hover{
	background-color :lightblue;
}

.colorSet {
	background: lightblue;
	vertical-align: middle;
}