.SimpleGridDataCell {
    white-space: normal;
}
.SimpleGridDataCell ul{
	list-style-type: none;
	width: 700px;
}
.SimpleGridDataCell ul li{
	float: left;
	width: 140px;
	font-size: 8pt;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.SimpleGridDataCell ul li:hover{
	background-color :lightblue;
}

.colorSet {
	background: lightblue;
	vertical-align: middle;
}
.reportListing thead th{
	border: 1px solid #eeeeee;
    font-weight: bold;
    min-width: 50px;
    vertical-align: top;
    white-space: nowrap;
	margin: 0;
	min-height: 16px;
	padding: 2px;
}
.listAllReport-container{
	font-size:8pt;
}
.reportListing{
	margin:0;
	padding:0;
	width:100%;
	background-color: white;
    border: 1px solid #ececec;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    min-width: 200px;
}
.riskMatrix {
	display: block;
    margin: auto;
}
.riskMatrixIcon {
	width:15px;
	height:15px;
	padding-left:10px;
	cursor:pointer;
}
.riskMatrixPopUp {
	top:5px !important;
}
.riskMatrixPopUp .ui-dialog-content {
	padding:0 !important;
}