
.SimpleGridHeaderCell {
    border: 1px solid #AEBCC8;
    font-weight: bold;
    min-width: 20px;
    vertical-align: top;
    white-space: nowrap;
}

.SimpleGridDataCell {
    border: 1px solid #eeeeee;
    min-width: 20px;
    vertical-align: top;
    white-space: nowrap;
}

.SimpleGridHeaderRow {
    background: #F2F2F3; 
    border: 1px solid #AEBCC8;
}

.recordNodeContainer {
	background-color: transparent !important;
}