.lLink{
	cursor:pointer;
	color:black;
	padding-left:5px;
	padding-right:3px;
	padding-top:3px;
	padding-bottom:3px;
	vertical-align:middle;
	font-weight:bold;
}
.lLink:hover{
	background-color :lightblue;
	color:black;
	cursor:pointer;
}