.main{
	border:none;
	background-color:#ffffff;
}
.fomationTD{
	border:none;
	padding:0px;
}
.td-headers{
	padding-left:10px;
	padding-right:10px;
}
.center{
	text-align:center;
}
.legend-table{
	border:solid 1px #000000;
	width:100%; 
	text-align:left;
}
.casing-cap{
	border: 2px solid rgb(0, 0, 0); 
	margin: 0pt 40px 0pt 0px; 
	padding: 0pt; 
	overflow: hidden; 
	height: 5px;
}
.section-td{
	border-left:dotted 1px #000000;
	background-color:#dddddd;
	padding:0px;
}
.formation-marking{
	overflow: visible; 
	scrolls: no;                             
	padding:0px;
	padding-top:0px; 
	text-align:left; 
	border-top:solid 1px #000000;
}