.moreDetailLinkCss{
	color:blue;
	font-weight:bold;
	cursor:pointer;
	padding-left:3px;
	padding-right:3px;
	vertical-align:middle;
}
.moreDetailLinkCss:hover{
	background-color :lightblue;
	color:white;
	cursor:pointer;
}
.wirelineSuiteLinkCss{
	color:blue;
	font-weight:bold;
	cursor:pointer;
	padding-left:3px;
	padding-right:3px;
	vertical-align:middle;
}
.wirelineSuiteLinkCss:hover{
	background-color :lightblue;
	color:white;
	cursor:pointer;
}