.unwantedEventLink{
	color:red;
}
.activityLink{
	cursor:pointer;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	padding-bottom:3px;
	vertical-align:middle;
	text-decoration: underline;
}
.activityLink:hover{
	background-color :lightblue;
	color:white;
	cursor:pointer;
}
table.embeddedTable{
	width:auto !important;
}
.embeddedCell{
	vertical-align:top;
	width:auto !important;
}
.ftrPopup {
	width: auto !important;
}
.fieldContainer li {
	white-space: pre-wrap;
}
.lessonLearnedLinks{
    display:block;
}
.RecordActionInsert:hover{
	background-color: #f5f5f5;
}