.bharunLink{
	color:blue;
	font-weight:bold;
	cursor:pointer;
	padding-left:3px;
	padding-right:3px;
	vertical-align:middle;
}
.bharunLink:hover{
	background-color :lightblue;
	color:white;
	cursor:pointer;
}
.bitrun-content{
	margin: 0;
	padding: 0;
	text-align: right;	
	display: block
}
.bharun-content{
	margin: 0;
	padding: 0;
	text-align: left;	
	display: block
}
.centerdiv{
	display: block;
	white-space:nowrap;
	text-align: center !important;
	margin-left: auto;
	margin-right: auto;
}
.popupText{
	font-size: 8pt !important;
}
.HBox{
	display:flex;
	white-space:nowrap;
	text-align: center !important;
}
.VBox{
	
}
.hide{
	display:none !important;
}
.StandardButtonContainer{
	text-align:center;
}
.DeleteRecordBackground:hover{
	background-color:red;
}
.ConfirmCancelButtonContainer{
	text-align:center;
}
.reportListing thead th{
	border: 1px solid #eeeeee;
    font-weight: bold;
    min-width: 50px;
    vertical-align: top;
    white-space: nowrap;
	margin: 0;
	min-height: 16px;
	padding: 2px;
}
.listAllReport-container{
	font-size:8pt;
}
.reportListing{
	margin:0;
	padding:0;
	width:100%;
	background-color: white;
    border: 1px solid #ececec;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    min-width: 200px;
}

.textarea {
   width:200px;
   height:28px;
   resize: none;
}

.linkField{
	white-space:nowrap;
	display:flex;
}
