.campaign-operationLink{
	font-size:6.5pt;
	display: table;
	height: 14px;
	padding:0 2px;
	margin:0px;
	text-decoration:underline;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.campaign-operationLink:hover{
	background-color :lightblue;
	color:white;
	cursor:pointer;
}


