.casingSection-content.div{
	margin: 0;
	padding: 0;
	text-align: center;	
}

.casingSection-content.cementLink{
	color:red;
	font-weight:bold;
	text-decoration:underline;
	cursor:pointer;
	padding-left:3px;
	padding-right:3px;
	vertical-align:middle;
}

.casingSection-content.recordLink{
	color:blue;
	cursor:pointer;
	font-weight:bold;
	padding-left:5px;
	padding-right:5px;
	vertical-align:middle;
}

.casingSection-content.recordLink:hover{
	text-decoration:underline;
}
