#sTable td.header {
	cursor: pointer;text-align: center;min-width: 30px;
}
#sTable td.header-current-day {
	background-color: #d8dfea;color: #3b5998;cursor: pointer;text-align: center;min-width: 30px;
}
#cTable td.green {
	background-color: #82FA58;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;
}
#cTable td.green-current-day {
	background-color: #a4cd7a;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;
}

#cTable td.cyan {
	background-color: #AFEEEE;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;
}
#cTable td.cyan-current-day {
	background-color: #ADD8E6;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;
}

#cTable td.red {
	background-color: #ff6464;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;
}

#cTable td.red-current-day {
	background-color: #f3c7c9;border: 1px solid #ccc;cursor: pointer; padding: 3px 8px;
}

#cTable td.yellow {
	background-color: #f7c602;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;
}

#cTable td.blue {
	background-color: #afeeee;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;
}

.legend-table{
	border:solid 1px #000000;
	text-align:left;
}

.cTContainer { overflow: hidden; padding-left: 10px; padding-right: 10px;}
.cTContainer table { table-layout: fixed; border-width: 0px; border-collapse: collapse;}
.cTContainer td { overflow: hidden; padding: 2px 2px; border-width: 1px; border-style: solid; border-color: #ccc;width: 1160px;}
.cTContainer td.yellow { background-color: #f7c602;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;}
.cTContainer td.blue { background-color: #afeeee;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;}
.cTContainer td.green { background-color: #82FA58;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;}
.cTContainer td.red { background-color: #ff6464;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;}
.cTContainer td.grey { background-color: #808080;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;}
.cTContainer td.rqc { background-color:#ffffff;border:1px solid #A52A2A;color:#A52A2A;}
.cTContainer td.tqc { background-color:#ffffff;border:1px solid #008000;color:#008000;}
.cTContainer td.nqc { background-color:#ffffff;border:1px solid #A52A2A;color:#A52A2A;}
.cTContainer table tr {height: 24.7px;text-align: center;}
.cTContainer table tr.cheader td { border: 1px solid #4297d7; background: linear-gradient(rgba(92,156,204,1), rgba(73,124,163,1)); color: #fff; width: 30px;}   

.relativeContainer { position: relative; overflow: hidden;}    
.fixedTB { position: absolute; z-index: 11; font-weight: bold;} 
.fixedTB table tr td { background: linear-gradient(grey, #666666); color: #fff; }
.fixedTB table tr { height: 30px;text-align: center; }
.fixedTB table tr td.qc { background: #ffffff; color: #5c9ccc; }
.leftContainer { position: absolute; overflow: hidden;  }
.rightContainer { position: absolute; overflow: hidden;  }
.leftSBWrapper { position: relative; z-index: 10; }
.topSBWrapper { position: relative; z-index: 10; width: 95%; }
.topSBWrapper table tr {height: 30px;}
.topSBWrapper table tr td { background: grey; color:#ffffff;font-weight: bold; }
.SBWrapper { overflow: auto; }
.leftContainer table tr { background-color: #FFFFFF; }
.leftContainer table tr.cheader { height: 25px;text-align: center; }
.leftContainer table tr.cheader td { background: linear-gradient(rgba(92,156,204,1), rgba(73,124,163,1)); color:#ffffff; border-color: #ccc; }   
.leftContainer table tr.cheader td img {  float: right; }

body { line-height: normal !important; }



#demo td.green {
	background-color: #82FA58;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;
}
#demo td.green-current-day {
	background-color: #a4cd7a;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;
}

#demo td.cyan {
	background-color: #AFEEEE;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;
}
#demo td.cyan-current-day {
	background-color: #ADD8E6;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;
}

#demo td.red {
	background-color: #ff6464;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;
}

#demo td.red-current-day {
	background-color: #f3c7c9;border: 1px solid #ccc;cursor: pointer; padding: 3px 8px;
}

#demo td.yellow {
	background-color: #f7c602;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;
}

#demo td.blue {
	background-color: #afeeee;border: 1px solid #ccc;cursor: pointer;padding: 3px 8px;
}
