.HBox{
	display:flex;
	white-space:nowrap;
}
.floatLeft{
	flex: 0 1 auto;
	float:left;
	min-width:0px !important;
}
.ajustPadding{
	padding-top: 5px;
	}
.VBox{
	
}
.datumTextField{
	width:60px !important;
}
.popupDatumWarning{
	font-family: Arial,Helvetica,sans-serif !important;
	font-size: 8pt !important;
	color:red !important;
	font-weight:bold !important;
}