.whitespace{
	white-space: pre-wrap;
}

.fieldRenderer {
    display: inline-block;
    font-family: Verdana,sans-serif;
    font-size: 8pt;
    margin: 0;
    min-height: 16px;
    padding: 2px;
    white-space: pre-wrap;
    width: 99%;
}

.hyperlinkField {
	color: black;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
    white-space:pre-wrap;
}

.accordionSnapshot-Header{
	display:block;
    background:#f4f4f4;
    background-image: -webkit-linear-gradient(white,#ededed);
    background-image: -moz-linear-gradient(white,#ededed);
    background-image: -o-linear-gradient(white,#ededed);
    background-image: -ms-linear-gradient(white,#ededed);
    background-image:linear-gradient(white,#ededed);
    color:black;
    padding-left:2px;
    text-decoration:none;
    border-bottom:thin solid #cecece;
    font-size:8pt;
    font-weight:bold;
    line-height:16px;
    height:20px;
    text-shadow:0px 1px 1px white;
    margin:0px;
    text-align:center;
}
.accordionSnapshot-Header:hover{
    background:#f4f4f4;
    
}


.accordionSnapshot-Content{
	margin:0px;
	display:none;
	width:auto;
	background:white;
    line-height:10px;
    display:none;
    border-bottom:thin solid #cecece;
    
}
.accordionSnapshot-Content.default{
	display:block;
}

.accordionSnapshot-Container {
	margin-top:10px;
    border:thin solid #cecece;   
    border-top:none;
    border-bottom:none;
    margin:2px;
	padding: 0;
	vertical-align: top;
	height:100%;
	width:100%;
}

.wellDetail-section{
	background-color:#ECECEC;
	margin:0px;
	padding:0px;
}
.SimpleGridDataRow:hover .wellDetail-section {
	background-color: #CDCDCD;
}
.wellDetail-sectionHeader{
	margin:0px;
	padding:4px;
	font-size:8pt;
	height:20px;
	line-height:20px;
	font-weight:bold;
}
.link{
	text-decoration:underline;
	cursor:pointer;
}

.wellDetail-sectionContent{
	margin:1px 1px 0px 1px;
	background-color:white;
	padding:1px;
	font-size:7.5pt;
	white-space:pre-wrap;
	min-height:15px;
	line-height: initial;
	padding: 2px;
}
.wellDetail-subHeader{
	color:blue;
	font-weight:bold;
	padding:0px;
	margin:0px;
}
.wellDetail-description{
	font-size:7.5pt;
}
.trouble{
	font-color:red;
	font-weight:bold;
}
.reportList-Container{
	margin:0px;
	padding:0px;
	
}

.reportList-Listing{
	background-color: #ECECEC;
	margin:1px;
	padding:2px;
	margin-top:2px;
}
.asterisk{
	color:red;
}
.SimpleGridDataRow:hover .reportList-Listing{
	background-color: #CDCDCD;
}
.reportList-header{
	display: inline-block;
	height: 15px;
	margin:0px;
	font-size:8pt;
	font-weight:bold;
	vertical-align:middle;
}

.hide{
	display:none !important;
}



.reportList-reportLink{
	font-size:7.5pt;
	
	display: table;
	height: 14px;
	padding:0 2px;
	margin:0px;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.reportList-reportLink:hover{
	background-color :lightblue;
	color:white;
	cursor:pointer;
}
.reportList-content{
	background-color:white;
	font-size:7.5pt;
	line-height: initial;
	padding: 2px;
}

.reportList-moreReports{
	font-size:8px !important;
	font-weight:bold;
	margin-left	: 2px; 
	padding-right: 2px;
	padding-left: 2px;
}


.otherDocument-Container{
	margin:0px;
	padding:0px;
}

.otherDocument-Listing{
	background-color: #ECECEC;
	margin:1px;
	margin-top:2px;
	padding:2px;
}

.SimpleGridDataRow:hover .otherDocument-Listing{
	background-color: #CDCDCD;
}

.otherDocument-header{
	display: inline-block;
	height: 15px;
	margin:0px;
	font-size:8pt;
	font-weight:bold;
	vertical-align:middle;
}




.otherDocument-documentLink{
	font-size: 7.5pt;
	display: table;
	height: 14px;
	padding:0 2px;
	margin:0px;
	text-decoration:underline;
	white-space: pre-line;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.otherDocument-documentLink:hover{
	background-color :lightblue;
	color:white;
	cursor:pointer;
}
.otherDocument-content{
	background-color:white;
	font-size:7.5pt;
	min-height:15px;
	line-height: initial;
	padding: 2px;
}

.otherDocument-moreReports{
	font-size:8px !important;
	font-weight:bold;
	margin-left	: 2px; 
	padding-right: 2px;
	padding-left: 2px;
}
