.StartNewDayCarryForward-Container{
	margin:0px;
	padding:0px;
	width:inherit;
}


.StartNewDayCarryForward-ModuleSelectionContainer{
	margin:0px;
	padding:0px;
	border:1px solid #888888;
	height:100px;
	overflow-y:auto;
}
.Refresh{
	width:70px !important;
}
.StartNewDayCarryForward-ModuleSelectionContainer:hover{
	border:1px solid gold;
}
.StartNewDayCarryForward-moduleSelection{
	margin:0px;
	padding:0px;
	width:100%;
	display:block;
}
.StartNewDayCarryForward-DateOperationContainer li{
	padding-left:5px;
	display:block;
	height:20px;
	
}
.StartNewDayCarryForward-DateOperationContainer li:hover{
	background-color: #81CEFF !important;
}
.StartNewDayCarryForward-DateOperationContainer.HtmlTableGrid td {
  padding: 2px;
  vertical-align: top;
}
.StartNewDayCarryForward-DateOperationContainer{
	
}
.StartNewDayCarryForward-DateOperationContainer.HtmlTableGrid tr:nth-child(1) {
  background-color: #0D8EC1;
  
}

.StartNewDayCarryForward-DateOperationContainer.HtmlTableGrid select {
	height: 20px !important;  
}


.StartNewDayCarryForward-DateOperationContainer.HtmlTableGrid tr:nth-child(1) td:nth-child(1) {
  color:white;
  vertical-align:middle;
}

.StartNewDayCarryForward-DateOperationContainer li input[type='checkbox']{
	vertical-align:bottom;
	margin:0px;
	margin-top: 3px;
	margin-right: 3px;
	cursor:pointer;
	color:#ffffff;

}
.StartNewDayCarryForward-DateOperationContainer li label{
	padding:0px;
}
.StartNewDayCarryForward-DateOperationContainer li:nth-child(even){
	background-color: #ECECEC;
}
.StartNewDayCarryForward-dateRangeList{
	min-width:80px;
}
.StartNewDayCarryForward-dateOperationList{
	min-width:80px;
}
.StartNewDayCarryForward-copyableOperationList{
	min-width:80px;
}
