/* Export Box */

.importBox {
	width: 100%;
	height: 100%;
}

.importBox td {
	vertical-align: top;
}

.floatItem-Right{
	float:left;
	padding:2px;
}

.vesselTable {
	width: 225px;
}

.vesselSelectContent {
	border: 1px solid #ececec;
	height: 225px;
	width: 225px;
	overflow-x: hidden;
	overflow-y: show;
}

.vesselSelectContent li {
	list-style: none;
	white-space: nowrap;
}

.selectAllButtonContainer {
	text-align: center;
}

.evenItem {
	background: white;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}