.requirementEvidence {
	display: block;
    margin: auto;
}
.requirementEvidenceIcon {
	width:15px;
	height:15px;
	padding-left:10px;
	cursor:pointer;
}
.requirementEvidencePopUp {
	top:5px !important;
}
.requirementEvidencePopUp .ui-dialog-content {
	padding:0 !important;
}