#applesearch .sbox_l  {
	background: url('../images/srch_l.gif') no-repeat top left;
	float: left;
	margin-top: 5px;
	width: 19px; height: 19px;
}

#applesearch .sbox_r  {
	background: url('../images/srch_r.gif') no-repeat top left;
	float: left;
	margin-top: 5px;
	width: 19px; height: 19px;
}

#applesearch .sbox input {
	background: url('../images/srch_bg.gif') repeat-x top left;
	float: left;
	border: 0;
	height: 19px; width: 98px;
	margin-top: 5px;
	padding: 3px;
	font: 11px/13px arial;
	color: #000;
}