/*
=======
GENERAL
=======
*/

body {
	/*
	margin: 0 auto;
	*/
	padding: 5px;
	font-family: Arial, "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	background-color: #ccc;
	text-align: center;
	height: 98%;
}

.realBody {
	/* border:1px solid #444; */
}
form {
	padding: 0px;
}

input.field {
	background: #FFFFFF url('../images/srch_bg_no_bottom.gif') repeat-x top left;
	border: 1px solid #ccc;
	height: 16px;
	padding: 3px;
	font: 12px Arial;
}

textarea {
	background: #FFFFFF url('../images/srch_bg_no_bottom.gif') repeat-x top left;
	border: 1px solid #ccc;
	padding: 3px;
	font: 12px/13px Arial;
}

select {
	font-size: 9pt;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

input.required, textarea.required, div.required, select.required {
	border-left: 3px solid red;
}

div.required {
	float: left;
}

.required-legend {
	padding: 8px 0;
	float: left;
}

.required-legend div {
	border-left: 3px red solid;
	padding: 0px 3px;
}

.logo {
	background: #000;
	color: #FFFFFF;
	font-size: 10pt;
	width: 100%;
}

/*
=========
MAIN MENU
=========
*/
.mmenu {
	text-align: left;
}

/*
=================
DATANETMENU
=================
*/
#datanetMenu {
	display: none;
	padding: 5px;
}

.datanet-menu-content {
	text-align: center;
	width: 100%;
}

.datanet-menu-header {
	color: #FFFFFF;	
	font-family: Arial;
	font-size: 13pt;
	font-weight: bold;
	margin: 10px 10px 5px 10px;
	padding: 0;
	text-align: left;
}

.datanet-menu-content ul {
	list-style-type: none;
	margin: 10px 10px 20px 10px;
	padding: 0;
	text-align: left;
}

.datanet-menu-content li {
	color: #FFFFFF;
	font-size: 8pt;
	font-weight: normal;
	padding: 1px;
}

.datanet-menu-content tr td {
	vertical-align: top;
}

#TB_ajaxContent {
	/*
	background: #0c5d95;
	*/
	/*
	width: 750px !important;
	height: 342px !important;
	*/
	width: 100% !important;
	padding: 0 !important;
}

#TB_window {
	/*
	width: 750px !important;
	height: 370px !important;
	*/
	/*
	margin-top: -190px !important;
	margin-left: -370px !important;
	*/
	align: center;
}
/*
==========
RIGHT MENU
==========
*/
ul.top-right-menu {
	list-style-type: none;
	margin: 0;
	padding: 6px 0 24px 0;
}

ul.top-right-menu li {
	float: right;
	margin: 0;
	padding: 2px 3px;
	white-space: nowrap;
}

.top-left-logo div {
	float: left;
}

.top-left-logo div.buttons {
	margin: 5px 0 0 5px;
}

/*
=============
TOP CONTAINER
=============
*/
.sub-menu {
	background: transparent url(../images/color_bar.jpg) repeat-y;
	border-top: 1px solid #aaa;
	text-align: left;
	background-color: #2284BC;
	padding: 1px;
}

.sub-menu table {
	border-collapse: collapse;
}

.sub-menu .bottom {
	padding: 0;
}

.sub-menu-left-table td {
	vertical-align: middle;
}

.sub-menu table tr td.left {
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	width: 100%;
}

.left-menu table {
	border-collapse: collapse;
	height: 32px;
}
.left-menu {
	padding: 0 0 0 10px;
}

.right-menu table {
	border-collapse: collapse;
}
.right-menu {
	vertical-align: middle;
	padding: 1px;
}

/*
================
APPLE SEARCH
================
*/
#searchWrapper {
	margin: 0 auto;
	padding-right: 16px;
	text-align: left;
	width: 155px;
}

#applesearch .sbox input {
	/*
	background: url('../images/srch_bg.gif') repeat-x top left;
	*/
	background: white url('../images/magglass.png') no-repeat scroll 4px 5px;
	float: left;
	border: 1px solid #2281b9;
	padding: 2px 2px 2px 18px;
	color: #000;
	font-size: 10pt;
}

#applesearch .sbox_l  {
	/*default styling*/
}

#applesearch .sbox_r  {
	/*default styling*/
}

#applesearch .sbox input {
	/*default styling*/
	width: 150px;
}

/*
========
FILTER 
========
*/

div#filterMenu {
	background-color: #edf3fe !important;
	border-top: 1px solid #ccc;
	height: 60px;
	overflow-x: auto;
	text-align: left;
	display:none;
}

#filterContent {
	background-color: #edf3fe !important;
	height: 100%;
	width: 100%;
}

#filterOptions {
	padding: 0 5px;
	text-align: right;
}

#filterMenuTable {
	background-color:#edf3fe !important;
    border-collapse: collapse;
}

#filterMenuTable td {
	color: #555 !important;
	font-weight: bold;
	padding: 5px;
	vertical-align: top;
}

#filterMenuTable .label {
	color: #555;
	font-weight: bold;
}

.filter {
	cursor: pointer;
}

.datanet-menu {
	border-right: 1px solid #e5e5e5;
	padding: 0 5px 0 5px;
}

/*
==============
CONTAINER TABS
==============
*/
.lefttabs-nav li {
    float: left !important;
}

.lefttabs-container {
	border: none;
	/*height: 80%;
	overflow: auto;*/
}

div#mainTabsContainer {
	background-color: #FFFFFF;
	/*
	margin: 0px;
	min-height: 450px;
	_height: 450px;
	*/
	/*
	min-height:80%;
	max-height:80%;
	height:80%;
	*/
	/* text-align: left !important; */
}

div#topContainerWrapper {
	width: 100%;
}

div#topMenuTabs {
	margin-left: 5px;
}

div#topTabContentWrapper {
	display:none;
}

div#topMenuWrapper {
	background-color: #777;
}

div#bottomMenuWrapper {
	background-color: #768EA2;
}

.top-tab-content {
	background-color: #FFFFEF; 
	display: none;
	/*
	height: 100px;
	margin: 0 5px 0 5px;
	*/
	overflow: auto;
	text-align: left;
	padding: 5px;
}

.ietabs-container {
    background-color: #FFFFFF; 
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
}

#ieContainer {
	padding-top: 5px;
}


#ContentWrapper {
	border: 3px solid #768EA2;
	_height: expression(d2ScreenManager.getContentWrapperHeight(this));
	_width: expression(d2ScreenManager.getContentWrapperWidth(this));
	overflow: auto;
}

#PartnerPortalContentWrapper {
	border: 3px solid #768EA2;
	_height: expression(d2ScreenManager.getPartnerPortalContentWrapperHeight(this));
	_width: expression(d2ScreenManager.getPartnerPortalContentWrapperWidth(this));
	overflow: auto;
}

.InnerTabContentWrapper {
	border: 3px solid #768EA2;
	_height: expression(d2ScreenManager.getInnerTabContentWrapperHeight(this));
	_width: expression(d2ScreenManager.getInnerTabContentWrapperWidth(this));
	overflow: scroll;
}

.InnerTabFrameWrapper {
	border: 0;
	_height: expression(d2ScreenManager.getInnerTabFrameWrapperHeight(this));
	_width: expression(d2ScreenManager.getInnerTabFrameWrapperWidth(this));
	overflow: auto;
}

#StocknetContentWrapper {
	_height: expression(d2ScreenManager.getStocknetContentWrapperHeight(this));
	_width: expression(d2ScreenManager.getStocknetContentWrapperWidth(this));
	overflow: auto;
}

/*
================
WITSML CONTAINER
================
*/
div.ie-table {
	background: #FFFFFF;
	padding: 3px;
	margin: 5px;
	width: 98.8%;
}

div.ie-wrapper {
	background: #FFFFFF;
	overflow: auto;
	padding: 3px;
	margin: 5px;
	height:500px;
	width: 98.8%;
}

table.ie-table {
	background: #FFFFFF;
	padding: 3px;
	margin: 5px;
	width: 99.2%;
}

table.ie-table td {
	white-space: nowrap;
}

table.ie-table td.value {
	text-align: left;
	width: 100%;	
}

table.ie-table td.gray-line {
	border-bottom: 1px solid #ccc;
}

/*
==========
PAGINATION
==========
*/
div.pages {
   margin-top: 20px;
   padding: 0;
   text-align: center !important;
}
.pages a, .pages span {
    background:#FFFFFF none repeat scroll 0%;
    border:1px solid #FFFFFF;
    color:#105CB6;
    margin-right:2px;
    padding:5px;
}
.pages a:visited {
    color:#105CB6;
}
.pages span.current {
    background:#2E6AB1 none repeat scroll 0%;
    border:1px solid #2E6AB1;
    color:#FFFFFF;
    font-weight:bold;
}
.pages a {
    border:1px solid #9AAFE5;
    text-decoration:none;
}
.pages a:hover {
    border-color:#2E6AB1;
}
.pages a.nextprev {
    font-weight:bold;
}
.pages span.nextprev {
    color:#666666;
}
.pages span.nextprev {
    border:1px solid #DDDDDD;
    color:#999999;
}


/*
============
HREF LINKS
============
*/

a.blue-link:link, a.blue-link:visited {
	color: #2e6ab1 !important;
	padding: 2px;
	text-decoration: none;
	outline: 0;
}

a.white-link:link, a.white-link:visited, a.white-link:hover {
	color: white;
	text-decoration: none;
	padding: 2px;
}

a.white-link:hover {
	text-decoration: underline;
}

a.days-summary:link, a.days-summary:visited {
	text-decoration: none;
	font-weight: bold;
	color: #000;
	font-size: 9pt;
	padding: 2px;
	outline: 0;
}

a.days-summary:hover {
	background-color: #105CB6;
	color: #FFFFFF;
	text-decoration: underline;
}

a.days-summary-selected:link, a.days-summary-selected:visited {
	background-color: #768EA2;
	color: #FFFFFF;
	cursor: text;
	font-weight: bold;
	outline: 0; /* prevent dotted border in Firefox */
	padding: 2px;
	text-decoration: none;
	outline: 0;
}

a.edit-link:link, a.edit-link:visited {
	text-decoration: none;
	color: #FFFFFF;
	outline: 0;
}

a.edit-link:hover {
	text-decoration: underline;
}

a.delete-link:link, a.delete-link:visited,
a.cancel-link:link, a.cancel-link:visited {
	text-decoration: none;
	color: #FFFFFF;
	outline: 0;
}
a.delete-link:hover,
a.cancel-link:hover {
	text-decoration: underline;
}

a.menu-selected-link:link, a.menu-selected-link:visited {
	color: #ff9900;
	text-decoration: none;
	outline: 0;
}

a.menu-link:link, a.menu-link:visited {
	color: #FFFFFF !important;
	font-size: 9pt !important;
	text-decoration: none;
	outline: 0;
}

a.menu-link:hover {
	text-decoration: underline;
}

a.filter-close:link, a.filter-close:visited {
	text-decoration: none;
	color: #dc1a1a;
}
a.filter-close:hover {
	text-decoration: underline;
}

.datanet-menu-content a:hover {
	color: #ffcc00 !important;
}

#navigationHistoryTrend a:link, 
#navigationHistoryTrend a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

#navigationHistoryTrend a:hover {
	text-decoration: underline;
}

.inline-link-2 {
  display: inline-block;
  border-bottom: 1px dashed rgba(0,0,0,0.4);

  /* Font styles */
  text-decoration: none;
  color: rgba(55,83,181,1);
}

.inline-link-2:hover   { border-bottom-style: dotted; }
.inline-link-2:active  { border-bottom-style: solid; }
.inline-link-2:visited { border-bottom: 1px solid #97CAF2; }


/*
============
DATA SUMMARY
============
*/

div#summaryContainer {
	text-align: right;
}

div.help-info {
	text-align: center;
}

div#summaryContainer .pipe {
	color: #2e6ab1;
}

div.system-state {
	text-align: center;
}

div#summary table {
    border-collapse: collapse;
    font-size: 9pt;
    text-align: left;
    width: 100%;
}

div#summary table tr td {
	background-color: #FFFFFF !important;
	padding: 5px;
}

div#summary td.header {
    background: #2284bc !important;
    font-weight: bold;
    color: #FFFFFF;
    vertical-align: top;
    white-space: nowrap;
}

div#summary td.summary-value {
	background: #2284bc !important;
	width: 100%;
}

/*
===========
ROOT ACTION
===========
*/
.root-action {
	border-collapse: collapse;
	background-color: #FFFFFF;
	text-align: center;
	width: 100%;
}

.root-action td {
	padding: 3px;
}

.root-action-right {
	vertical-align: bottom;
}

.root-action-bottom {
	width: 100%;
}

.child-root-action {
	border: 0 !important;
	margin-top: 5px;
}

.child-root-action td {
	/* background-color: #6886ab; */
	padding: 3px !important;
}

/*
============
COMMON TABLE
============
*/
div#search {
	margin: 10px;
}

.WrapperNoTabs {
	margin: 10px;
}

.table-title {
	border-collapse: collapse;
	width: 100%;
}

.table-title td.left {
	background-color: #555;
	color: #FFFFFF;
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
	padding-left: 10px;
}

.table-title td.black-arrow {
	background: #eee;
	padding: 0px;
}

div.arrow-img {
	background: transparent url(../images/gray-arrow.gif) no-repeat scroll right;
	text-align: right;
	width: 10px;
}

.table-title td.right {
	background-color: #eee;
	color: #333;

	text-align: left;
	width: 100%;
	padding-left: 0;
	
}

table.inner-table {
	border-collapse: collapse;
	border: 1px solid #0F0;
	width: 100%;
}

.inner-td-wrapper {
	border-collapse: collapse;
	width: 100%;
}

table.inner-table th {
	border-collapse: collapse;
	background: #F2F2F3;
	border: 1px solid #AEBCC8;
	font-weight: bold;
	font-family:Verdana,Arial;
	font-size: 10px;
	padding: 3px;
	text-align: left;
	color: #333333;
}

table.inner-table tr {
	border-collapse: collapse;
}

table.inner-table table tr td {
	border-collapse: collapse;
	/* border: 1px solid #FFFFFF; */
	border: 1px solid green;
}

table.inner-table td {
	border-collapse: collapse;
	padding: 3px;
	background: #FFFFFF;
	vertical-align: top;
	text-align: left;
	border: 1px solid #AEBCC8;
}

table tr .record-actions {
	background: #F2F2F3 !important;
	border: 1px solid #B7BBBA !important;
	vertical-align: top;
	text-align: center !important;
	white-space: nowrap;
	width: 5%;
}

table tr td.record-actions div {
	float: left;
}

.action-img {
	margin: 10px;
}

table.subtable {
	border-collapse: collapse; 
	width: 100%;
}

table.subtable th {
	border-collapse: collapse;
	background: #1a5f88 !important;
	border: 1px solid #FFFFFF !important;
	font-weight: bold;
	padding: 3px;
	color: #FFFFFF;
	margin: 0;
}

table.subtable tr td {
	border-collapse: collapse;
	background-color: #FFFFFF;
	vertical-align: top;
	text-align: left;
	padding: 3px;
	border: 1px solid #FFFFFF;
}

table.subtable td.value {
	background-color: #FFFFFF;
	vertical-align: middle;
}

table.childtable {
	border-collapse: collapse;
	border: 0;
	width: 100%;
}

table.childtable th {
	border-collapse: collapse;
	background: #c3b59b !important;
	color: #000 !important;
	border: 1px solid #483b33 !important;
	font-weight: bold;
	margin: 0;	
	padding: 3px;
}

table.childtable tr td {
	border-collapse: collapse;
	background-color: #FFFFFF;
	margin: 0;
	padding: 3px;
	/* border: 1px solid #483b33 !important; */
}

table.childtable .record-actions {
	background: #003f44;
	border: 1px solid #483b33 !important;
	vertical-align: top;
	text-align: center;
	padding-top: 7px;
	width: 1%;
}

table.childtable tr td.addbutton {
	background: #FFFFFF;
	border: 0 !important;
}

.inner-sub-th {
	background: #005258 !important;
	border: 1px solid #CEDFF7 !important;
	color: #FFFFFF !important;
}

.inner-td {
	border-bottom: 1px solid #CCCCCC;
}

.child-title {
	background-color: #768EA2 !important;
	border: 1px solid #768EA2 !important;
	text-align: center !important;
	color: #FFFFFF;
	font-weight: bold;
}

.node-type-header{
	background-color: #768EA2 !important;
	color: #FFFFFF !important;
}

table.inner-table th.depth {
	background-color: #483B33;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	padding: 3px;
}

table.inner-table tr td.depth {
	background-color: #C3V59B;
	vertical-align: top;
	text-align: left;
	padding: 3px;
}

table.inner-table th.number {
	background-color: #005258;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	padding: 3px;
}

table.inner-table tr td.number {
	background-color: #d9e3e5;
	vertical-align: top;
	text-align: right;
	padding: 3px;
}

table.no-border {
	border-collapse: collapse;
	border: 0 !important;
	width: 100%;
}

table.childtable-blue {
	border-collapse: collapse;
	border: 0 !important;
	width: 100%;
}

table.childtable-blue th {
	border-collapse: collapse;
	background: #2284BC !important;
	color: #FFFFFF !important;
	border: 1px solid #483b33 !important;
	font-weight: bold;
	margin: 0;	
	padding: 3px;
}

table.childtable-blue tr td {
	border-collapse: collapse;
	background-color: #E4E4E4;
	margin: 0;
	padding: 3px;
	/* border: 1px solid #483b33 !important; */
}

/*
======
SEARCH
======
*/
div#search {
	margin-top: 30px;
}

div#search div#header {
	margin: 10px 0;
	padding: 3px;
	text-align:left;
	border-top: 1px solid #bbb;
	background-color: #efefef;
}

div#search div#header h3 {
	margin: 0;
	font-size: 14px;
}

div#search div.result {
	text-align: left;
	padding: 10px;
}

div#search div.result div.summary {
	margin: 3px 0;
}

div#search div.result div.details {
	color: green;
	margin: 3px 0;
}

div#search div.result h3 {
	margin: 0;
	font-size: 14px;
}

/*
=======
BUTTONS
=======
    _background: #000 url(../images/button_black_gradient.jpg) repeat-x;
*/	
.buttons a, .buttons button, .buttons input {
    border: 0px solid black;
	margin-right: 2px;
	padding:3px 10px 3px 10px; /* Links */
	
	font-family: Verdana;
    font-size:10px;
    font-weight:bold;
    color: #333333;

	line-height:130%;
    text-decoration:none;
    cursor:pointer;
}

.buttons input.green, .buttons button.green {
	background: transparent url(../images/green-gradient-button.jpg) repeat-x;
	border: 1px solid transparent;
	color: #FFFFFF;
}

.buttons input.red, .buttons button.red {
	background: transparent url(../images/red-gradient-button.jpg) repeat-x;
	border: 1px solid transparent;
	color: #FFFFFF;
}

.buttons a.black {
	background-color:#CCC;
    border-top:1px solid #999;
    border-right:1px solid #CCC;
    border-bottom:1px solid #CCC;
    border-left:1px solid #999;
	margin-right: 5px;
	
	font-family: Verdana;
    font-size:11px;
    line-height:150%;
    text-decoration:none;
    font-weight:bold;
    color:#FFFFFF;
    cursor:pointer;
	padding:2px 5px 2px 5px; /* Links */
}
	
.buttons button, .buttons input{
    width:auto;
    overflow:visible;
	padding:1px 4px 1px 3px; /* IE6 */
}
.buttons button[type], .buttons input[type]{
	padding:2px 4px 2px 3px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type], *:first-child+html input[type]{
	padding:1px 4px 1px 3px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */
.saveAndCancel {
    /* margin: 5px 0 5px 0; */
}

.saveAndCancel input.green, .saveAndCancel button.green {
	background: #5f9410 url(../images/green-gradient-button.jpg) repeat-x;
	border: 1px solid #5f9410 !important;
	color: #FFFFFF !important;
}

.saveAndCancel input.red, .saveAndCancel button.red {
	background: #980d0d url(../images/red-gradient-button.jpg) repeat-x;
	border: 1px solid #980d0d !important;
	color: #FFFFFF !important;
}

.saveAndCancel input, .saveAndCancel button {
	margin-right: 5px;
}

.saveAndCancel input, .saveAndCancel button {
    font-size: 16pt;
}

.saveAndCancel input.cancel, .saveAndCancel button.cancel {
	background-color: #fbe3e4;
	border: 1px solid #ef959b;
	color: #d12f19;
}

.saveAndCancel input.applychanges, .saveAndCancel button.applychanges {
	background-color: #dff4ff;
	color: #369;
	border: 1px solid #a7cedf;
}

/*-------------------------------------------------
LOGIN SCREEN (.login is body class)
-------------------------------------------------*/

.login_flex div.container,
.login div.container {
	width: 700px;
	margin: 120px auto 20px auto;
	min-width: inherit;
}

.login_flex div.container {
	width: 600px !important;
}
 
.login h1 {
	margin-bottom: 20px;
}

.login dl {
	margin: 10px 0 0 0;
}

.login dt {
	float: left;
	width: 80px;
	font-size: 14px;
	line-height: 24px;
}

.login dd {
	margin: 0 0 5px 5px;
	font-size: 11px;
	line-height: 24px;
	color: #666;
}

.login input {
	font-size: 14px;
}

.login input#username,
.login input#password,
.login input#captcha_response {
	width: 100%;
}

.login div#dialog {
	width: 500px;
	border: 4px solid #ccc;
	box-shadow: 0px 10px 30px #888888;
	/*
	padding: 15px 20px 10px 20px;
	*/
	text-align: left;
	background: #FFFFFF;
}

.login_flex div#dialog {
	width: 600px;
	border: 4px solid #ccc;
	box-shadow: 0px 10px 30px #888888;
	/*
	padding: 15px 20px 10px 20px;
	*/
	text-align: left;
	background: #FFFFFF;
}

/*-------------------------------------------------
FORGOT PASSWORD SCREEN (.forgot is body class)
-------------------------------------------------*/

.forgot div.container {
	width: 450px;
	margin: 120px auto 20px auto;
	min-width: inherit;
}

.forgot dl {
	margin: 10px 0 0 0;
}

.forgot dt {
	float: left;
	width: 110px;
	font-size: 14px;
	line-height: 24px;
}

.forgot dd {
	margin: 0 0 5px 90px;
	font-size: 11px;
	line-height: 24px;
	color: #666;
	margin-left: 110px;
}

.forgot input {
	font-size: 14px;
}

.forgot input#email {
	width: 95%;
}

.forgot div#dialog {
	width: 400px;
	border: 10px solid #ccc;
	padding: 15px 20px 20px 20px;
	text-align: left;
	background: #FFFFFF;
}

.forgot a {
	color: blue;
}

/*-------------------------------------------------
RESET PASSWORD SCREEN (.reset is body class)
-------------------------------------------------*/

.resetpwd div.container {
	width: 450px;
	margin: 120px auto 20px auto;
	min-width: inherit;
}

.resetpwd dl {
	margin: 10px 0 0 0;
}

.resetpwd dt {
	float: left;
	width: 130px;
	font-size: 14px;
	line-height: 24px;
}

.resetpwd dd {
	margin: 0 0 5px 90px;
	font-size: 11px;
	line-height: 24px;
	color: #666;
	margin-left: 130px;
}

.resetpwd input {
	font-size: 14px;
}

.resetpwd input#password {
	width: 100%;
}

.resetpwd div#dialog {
	width: 400px;
	border: 10px solid #ccc;
	padding: 15px 20px 20px 20px;
	text-align: left;
	background: #FFFFFF;
}

/*
===========
QUICK LINKS
===========
*/
#quick-links {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: none;
	position: absolute;
	top: 32px;
	width: 210px;
	z-index: 100;
}

#quick-links ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}

#quick-links a {
	display: block;
	padding: 5px;
	width: 200px;
	background-color: #036;
}

#quick-links a:link, #navlist a:visited {
	color: #EEE;
	text-decoration: none;
}

#quick-links a:hover {
	background-color: #1a5f88;
	color: #FFFFFF;
}

/*
========
TREEVIEW
========
*/
#treeView {
	border-collapse: collapse;
	height: 100%;
	width: 100%;
}

#treeView ul {
	list-style-type: none;
}

#treeView .leftPanel {
	border-right: 4px solid #ccc;
	vertical-align: top;
	width: 20%;
}

#treeView .divider {
	border-bottom: 4px solid #ccc;
	height: 0;
	margin: 0;
	padding: 0;
}

#treeView .rightPanel {
	padding: 5px;
	vertical-align: top;
}

#jBox_hideIframe {
	position: absolute;
	top:0px;
	left:0px;
	background-color:#000 !important;
	filter:alpha(opacity=75);
	-moz-opacity:0.75;
	opacity:0.75;
}

.rightPanelDiv {
	overflow: auto;
	_width: expression(d2ScreenManager.getTreeViewRightPanelWidth(this));
}

#rightPanelTopDiv {
	_height: expression(d2ScreenManager.getTreeViewTopRightPanelHeight(this));
}

#rightPanelBottomDiv {
	_height: expression(d2ScreenManager.getTreeViewBottomRightPanelHeight(this));
}

#divTreeviewArea {
	overflow: auto;
	_height: expression(d2ScreenManager.getTreeViewLeftPanelHeight(this));
	_width: expression(d2ScreenManager.getTreeViewLeftPanelWidth(this));
}

span.TreeviewSpanArea {
	overflow: auto;
}

span.TreeviewSpanArea A {
	font-size: 9pt;
	text-decoration: none;
	color: black;
}

span.TreeviewSpanArea A.tree-link:hover {
	background-color: #ccc;
}

/*
==================
NEW SYSTEM MESSAGE
==================
*/
#systemMessageContent {
	background-color: #FFFFFF;
	border: 4px solid #999;
	display: block;
	opacity: 0.95;
	left: 25%;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 45%;
	z-index: 1010;
}

#messageBody {
    width: 100%;
	text-align: left;
	padding: 0;
	border-collapse: collapse;
}

#messageBody td {
    padding: 0;
}

.systemMessage-close-bar {
	background-color: #efefef;
	border-top: 1px solid #ccc;
	padding: 3px !important;
}

.systemMessage-close-bar a:link,
.systemMessage-close-bar a:visited {
	text-decoration: none;
	color: #555;
}

.systemMessageTitle {
	background-color: #555;
	color: #FFFFFF;
	font-size: 11pt;
	font-weight: bold;
	height: 20px;
	padding: 4px !important;
}

#systemMessage {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#systemMessage li {
	padding: 6px 10px 6px 4px !important;
}

.infoMessage {
    background-color: #FFFFFF;
    color: #000;
}

.errorMessage {
    background-color: #ffcccc !important;
    color: #b90000 !important;
}

.warningMessage {
    background-color: #FFFFCC;
    color: #000000;
}

#accessDenied {
	padding: 30px;
	background-color: #FFFFFF;
	color: #000;
}
/*
==========
EXTRA DATA
==========
*/
.extra-data-wrapper .pipe {
	color: #888;
}

.extra-popup-data {
	background-color: #efefef;
	border: 1px solid #777;
	margin: 5px;
	padding: 5px;
	position: absolute;
	z-index: 300;
}

.extra-data-wrapper img {
	vertical-align: bottom;
}

.extra-data ul, .extra-popup-data ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

.extra-data li {
	margin: 0;
	padding: 0;
}

.extra-popup-data li {
	margin: 0;
	padding: 0;
	width: 100%;
	white-space: nowrap;
}

/*
====
MISC
====
*/
.hide {
    display: none;
}

.error {
    color: red;
}

.footer {
    font-size: 8pt;
    text-align: left;
    padding: 8px 5px;
    color: #FFFFFF;
	background: transparent url(../images/color_bar.jpg) no-repeat;
	background-color: #2284BC;
}

.footer div {
	float: right;
	font-weight: bold;
}

.footer a {
	font-size: 8pt;
	color: #FFFFFF;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.page-title {
	font-size: 10pt;
}

.theader {
	cursor: pointer;
}

.timepicker {
    text-decoration: none;
    color: #2e6ab1;
}

.hour {
    text-decoration: none;
}

.minute {
    text-decoration: none;
    background-color: #ccc;
    color: #555;
}

.hover {
	background-color: #fddab2 !important;
}

.pipe {
	color: #FFFFFF;
}

.align-left {
	text-align: left !important;
}

.tdCenter {
	text-align: center !important;
}

.align-right {
	text-align: right !important;
}

.deleted {
    background-color: #ffe6ea !important;
}

td.selected {
	background-color: #fddab2 !important;
}

.record-checkbox-container {
	cursor: pointer;
	padding-right: 2px;
	_padding-right: 0px;
}

.checkbox-img {
	vertical-align: middle;
	_vertical-align: top;
}

.barMenuDropdown {
	/* display: none; */
	font-size: 12px;
}

.menuLabel {
	color: #bbb;
	font-size: 12px;
	vertical-align: middle;
}

.barMenuValue {
	color: orange;
	font-size: 12px;
}

.bottom-button {
	background-color: #768EA2 !important;
	padding: 5px 0 5px 5px;
	text-align: center;
}

.pointer {
	cursor: pointer;
}

.hand-cursor {
	cursor: hand;
}

.vertical-middle {
	vertical-align: -20%;
}

.vertical-top {
	vertical-align: top;
}

.createnew {
	padding: 0;
	margin: 0;
	white-space: nowrap;
}

.create-new-date {
	color: blue;
}

.calendarSetLink {
	height:12px;
	background-color: #E2EBED;
	font-weight: bold;
	width:25px;
	position:absolute;
	right:0px;
	border: 1px solid #216072;
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

.custom-header-selection td {
	vertical-align: top;
}

#npdContent {
	margin: 5px;
	padding: 5px;
	background-color: #1a5f88;
	color: #FFFFFF;
}

#WellExplorerContentWrapper {
	border: 3px solid #768EA2;
	_height: expression(wellExplorerScreenManager.getContentWrapperHeight(this));
	_width: expression(wellExplorerScreenManager.getContentWrapperWidth(this));
	overflow: auto;
}

/*
This height does not include updown arrow and root button's height
*/
#ContentWrapperType1 {
	border: 3px solid #768EA2;
	_height: expression(CustomScreenManager.getIE6ContentWrapperHeightType1(this));
	_width: expression(CustomScreenManager.getIE6ContentWrapperWidthType1(this));
	overflow: auto;
}

#well-explorer-legend ul {
	margin: 5px 0;
	list-style-type: none;
	padding: 0;
}
#well-explorer-legend ul li {
	float: left;
	margin: 0;
	padding: 0 5px;
}
.legend-well {
	border-left: 3px solid #768EA2;
}
.legend-wellbore {
	border-left: 3px solid #639719;
}
.legend-operation {
	border-left: 3px solid #da8505;
}

.well-color {
	color: #768EA2 !important;
	text-decoration: none;
}

.wellbore-color {
	color: #639719 !important;
	text-decoration: none;
}

.operation-color {
	color: #da8505 !important;
	text-decoration: none;
}

.reset-filter {
	color: blue;
}

.datum-label {
	background-color: #6699ff;
}

.datum-input {
	background-color: #6699ff;
}

.well-operation-bg {
	background-color: #FFF1A8 !important;
	font-size: 11pt;
	padding: 10px !important;
}

.well-helper {
	margin-top: 5px;
}

.well-helper ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*
=====================
CREATE NEW DAY WIDGET
=====================
*/
#createNewDate {
	display: none;
}

#createNewDateContent {
	background-color: #FFFFFF !important;
	height: 100%;
	text-align: center;
}

#createnewdate-loading {
	background-color: #FFFFFF !important;
	height: 100%;
	text-align: center;
	display:none;
}

#createnewdate-loading img {
	margin-top: 55px;
}

#createNewDateContent table {
	text-align: center;
	height: 100%;
	width: 100%;
}

#createNewDateContent td {
	padding: 5px;
	text-align: left;
}

#createNewDateContent td.label {
	color: #555;
	font-weight: bold;
	text-align: right;
}

#createNewDateContent td.buttons {
	text-align: center;
}

#createNewDateContent td.submit-action {
	text-align: center;
}

#createNewDateMessages {
	background-color: #ffcccc;
	color: red;
}

/*
========================
NAVIGATION HISTORY TRAIN
========================
*/
#navigationHistoryTrend {
	background-color: #777;
	margin: 0;
	padding: 0 0 1px 0;
	_padding: 0;
	overflow: auto;
	width: 100%;
}

#navigationHistoryTrend ul {
	color: #FFFFFF;
	list-style-type: none;
	margin: 0 0 0 3px;
	padding: 0 0 0 0;
	_margin: 0 0 2px 1px;
	_padding: 0 0 2px 0;
}

#navigationHistoryTrend li {
	/* border: 1px solid #FFFFFF; */
	display: block;
	float: left;
	margin: 1px 1px 1px 1px;
	_margin: 1px 3px 2px 2px;
	padding: 1px;
}

/*
======================
DATA POPULATION MATRIX
======================
*/
#matrixDiv {
	margin-top: 10px;
	width: 100%;
}

#matrixTable {
	border-collapse: collapse;
	border-bottom: 3px solid #3b5998;
}

#matrixTable td {
	text-align: center;
	white-space: nowrap;
}

#matrixTable td.module-name {
	background-color: #f4f8fc;
	border-bottom: 1px solid #3b5998;
	color: #3b5998;
	padding: 0 5px;
}

#matrixTable td.section {
    background-color: #FFFFFF;
	border-bottom: 1px solid #3b5998;
	color: #3b5998;
	font-size: 11pt;
	padding: 10px 5px 0 5px;
}

#matrixTable td.header {
	background-color: #3b5998;
	color: #FFFFFF;
	cursor: hand;
	padding: 3px 8px;
}

#matrixTable td.header-current-day {
	background-color: #d8dfea;
	color: #3b5998;
	cursor: hand;
	padding: 3px 8px;
}

#matrixTable td.header a:link,
#matrixTable td.header a:visited {
	background-color: #3b5998;
	color: #FFFFFF;
	text-align: center;
}

#matrixTitle {
	color: #3b5998;
	font-weight: bold;
	margin-top: 10px;
	width: 100%;
}

#matrixTable td.green {
	background-color: #67a54b;
	border: 1px solid #3b6e22;
	cursor: pointer;
	padding: 3px 8px;
}

#matrixTable td.green-current-day {
	background-color: #a4cd7a;
	border: 1px solid #3b6e22;
	cursor: pointer;
	padding: 3px 8px;
}

#matrixTable td.red {
	background-color: #ff6464;
	border: 1px solid #de0000;
	cursor: pointer;
}

#matrixTable td.red-current-day {
	background-color: #f3c7c9;
	border: 1px solid #de0000;
	cursor: pointer;
}

#matrixTable a:link, #matrixTable a:visited {
	text-decoration: none;
	display: block;
}

/*
========
JBOX CSS
======== 
*/
.jBox{position: absolute;border: 1px solid #808080;visibility: hidden;background-color: white;text-align:left;}
.jBoxHandler{padding: 5px 0px;text-indent: 3px;font: bold 14px Arial;background-color: #808080;color: white;cursor: default;overflow: hidden;width: auto;height: 15px; }
.jBoxHandler .jBoxControls{position: absolute;right: 8px;top: 0px;cursor: hand;cursor: pointer;}
.jBoxContent{background-color: #FFFFFF;color: #000;height: 50px;padding: 5px 10px;overflow: auto;}
.jBoxStatus{border-top: 1px solid #B9B9B9;background-color: #F8F8F8;height: 13px; }
.jBoxResize{float: right;width: 13px;height: 13px;cursor: nw-resize;font-size: 0;}

/*
==============
JQUERY TOOLTIP
==============
*/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { font-size: 9pt; margin: 0; }

#tooltip.pretty {
	font-family: Arial;
	border: none;
	width: 210px;
	padding:20px;
	height: 135px;
	opacity: 0.8;
	background: url('shadow.png');
}
#tooltip.pretty h3 {
	margin-bottom: 0.75em;
	font-size: 12pt;
	width: 220px;
	text-align: center;
}
#tooltip.pretty div { width: 220px; text-align: left; }

#tooltip.fancy {
	background: url('shadow2.png');
	padding-top: 5em;
	height: 100px;
}

fieldset { padding: 8px; }
legend { font-weight: bold; }
    
.jscom, .mix htcom   { color: #4040c2; }
.com      { color: green; }
.regexp   { color: maroon; }
.string   { color: teal; }
.keywords { color: blue; }
.global   { color: #008; }
.numbers  { color: #880; }
.comm     { color: green; }
.tag      { color: blue; }
.entity   { color: blue; }
.string   { color: teal; }
.aname    { color: maroon; }
.avalue   { color: maroon; }
.jquery   { color: #00a; }
.plugin   { color: red; }

/*
======================
DHTML GOODIES CALENDAR
======================
*/
#calendarDiv{
	position:absolute;
	width:205px;
	border:1px solid #317082;
	padding:1px;
	background-color: #FFFFFF;
	font-family:Arial;
	font-size:10px;
	padding-bottom:20px;
	visibility:hidden;
}
#calendarDiv span,#calendarDiv img{
	float:left;
}
#calendarDiv .selectBox,#calendarDiv .selectBoxOver{
	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv .selectBoxTime,#calendarDiv .selectBoxTimeOver{	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv td{
	padding:3px;
	margin:0px;
	font-size:10px;
}



#calendarDiv .selectBox{
	border:1px solid #E2EBED;		
	color: #E2EBED;
	position:relative;
}
#calendarDiv .selectBoxOver{
	border:1px solid #AEBCC8;
	background-color: #768EA2;
	color: #FFFFFF;
	position:relative;
}
#calendarDiv .selectBoxTime{
	border:1px solid #317082;		
	color: #317082;
	position:relative;
}
#calendarDiv .selectBoxTimeOver{
	border:1px solid #216072;	
	color: #216072;
	position:relative;
}

#calendarDiv .topBar{
	height:16px;
	padding:2px;
	background-color: #317082;


}
#calendarDiv .activeDay{	/* Active day in the calendar */
	color:#FF0000;
}
#calendarDiv .todaysDate{
	height:17px;
	line-height:17px;
	padding:2px;
	background-color: #E2EBED;
	text-align:center;
	position:absolute;
	bottom:0;
	width:201px;
}
#calendarDiv .todaysDate div{
	float:left;
}
	
#calendarDiv .timeBar{
	height:17px;
	line-height:17px;
	background-color: #E2EBED;
	width:72px;
	color:#FFFFFF;
	position:absolute;
	right:30px;
}

#calendarDiv .timeBar div{
	float:left;
	margin-right:1px;
}


#calendarDiv .monthYearPicker{
	background-color: #E2EBED;
	border:1px solid #AAAAAA;
	position:absolute;
	color: #317082;
	left:0px;
	top:15px;
	z-index:1000;
	display:none;

}
#calendarDiv #monthSelect{
	width:70px;
}
#calendarDiv .monthYearPicker div{
	float:none;
	clear:both;	
	padding:1px;
	margin:1px;	
	cursor:pointer;
}
#calendarDiv .monthYearActive{
	background-color:#317082;
	color: #E2EBED;
}

#calendarDiv td{
	text-align:right;
	cursor:pointer;
}

#calendarDiv .topBar img{
	cursor:pointer;
}
#calendarDiv .topBar div{
	float:left;
	margin-right:1px;
}

/*
==============
JQUERY UI TABS
==============
*/
/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: block!important;
		height: 0!important;
		width: 0!important;
		border:none!important;
		visibility:hidden!important;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

/* Skin */
.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin: 0 0 0 1px;
    min-width: 84px; /* be nice to Opera */
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    display: block;
    padding: 0 10px;
    background: transparent url(../images/grey-tab.png) no-repeat;
}
.ui-tabs-nav a {
    position: relative;
    top: 1px;
    z-index: 0;
    padding-left: 0;
    color: #27537a;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */    
}
.ui-tabs-nav .ui-tabs-selected a {
    color: #555;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -150px;
    outline: 0; /* prevent dotted border in Firefox */
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -100px;
}
.ui-tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}
*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-top: 7px;
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-nav .ui-tabs-disabled {
    opacity: .4;
}
.ui-tabs-container {
    border: 1px solid #97a5b0;
    padding: 1px 1px;
    background: #FFFFFF; /* declare background color for container to avoid distorted fonts in IE while fading */
}
.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}
.dataSummaryItem {
    color: #333;
    fontSize: 12px;
    padding: 0 5px 0 5px;
}
.dataSummaryItem:hover {
    background-color: #3B5998;
    color: white;
} 
/*
========
THICKBOX
========
*/
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
/* the original code caused dropdown to truncate in Firefox 2.0
*{padding: 0; margin: 0;}
*/
*{margin: 0;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:1000;
	top: 0px;
	left: 0px;
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
	height:100%;
	width:103%;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #FFFFFF;
	z-index: 1001;
	color:#000000;
	display:none;
	border: 4px solid #525252;
	text-align:left;
	top:50%;
	left:50%;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#TB_title{
	background-color:#e8e8e8;
	height:27px;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:1002;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#FFFFFF;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}

/*
===============
Advanced Search
===============
*/

div#qbuilder-env {
	background-color: #ebf2fc;
	padding: 20px
}

#advanced-search-form div {
	padding: 20px;
}

#advanced-search-form table tr td.label {
	text-align: right;
	padding-right: 5px;
	width: 170px;
}

#advanced-search-form table tr td.input {
	padding-right: 3px;
}

#advanced-search-form table tr.hide {
	display: none;
}

#advanced-search-form h3 {
	margin-bottom: 10px;
}

