/*
Tabs - additional IE specific bug fixes

Recommended usage (Conditional Comments):
<!--[if lte IE 7]>
<link rel="stylesheet" href="tabs_ie.css" type="text/css" media="projection, screen" />
<![endif]-->

*/
.ui-tabs-nav { /* auto clear */
   	display: block;
}
.ui-tabs-nav .ui-tabs-disabled {
    position: relative; /* fixes opacity */
    filter: alpha(opacity=40);
}
.ui-tabs-nav .ui-tabs-disabled a span {
    _height: 19px; /* for some reason the height is 1px to less with opacity... */
    min-height: 19px; /* ...in both IE 6 and 7 */
}

.ui-tabs-container {
	margin-top: 25px !important;
}
