<html>
<body>
This is an <b>automated message</b>.
<p>The Daily Drilling Report and XML for ${wellname} ${well_date} have failed to generate</p>
<p>Thank you.</p>
<p><b>IDS Datanet Service</b></p>
</body>
</html>