<html>
<body>
Dear Sir/Madam, 
<p></p>
<p><u>Operation: ${operationName} on (Day#${reportNumber} - ${reportDatetime}) have failed to generate</u></p>

<p>Thank you.</p>
<p><b>IDS Datanet Service</b></p>
</body>
</html>