<html>
    <head><style>
      
      body {
        margin: 0px;
        padding: 0px;
      }
    </style></head>
    <body>
    	<script type='text/javascript' src="http://localhost:8080/jasperserverpro5_6/client/visualize.js"></script>
    	<script src="script/jasper/jasper.js"></script>
    	<button id="previousPage">Previous Page</button><button id="nextPage">Next Page</button>
    	<div id="container"></div>
    </body>
</html>