.sectionSelectContainer {
	cellspacing:0;
	cellpadding:1;
}

.innerSectionSelectContainer {
	overflow: auto !important;
}

.sectionSelectContainer td {
	vertical-align: top;
	padding-right: 20px;
}

.sectionSelectContainer li {
	list-style: none;
	width: 90%;
	padding:0px 0px 0px 0px;
    display:inline;
    float:left;
    height:20px;
    white-space: nowrap;
}

.sectionSelectContainer li input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

.textInputLine {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    white-space: nowrap; 
    margin-left: 20px; 
    border-style: dotted; 
    border-width: 1px;
}

.textInputLine input[type=text] {
    margin-left:5px; 
    width: 25px; 
    font-family: Arial,Helvetica,sans-serif; 
    font-size: 8pt;
}

.documentSelectContainer {
	cellspacing:0;
	cellpadding:1;
	height:45px; 
	width:275px;
}

.parentChildContainer {
	cellspacing:0;
	cellpadding:1;
	height:165px; 
	width:400px;
}

.sectionSelectLabel {
	text-align: left;
	font-weight: bold;
}

.documentSelectLabel {
	text-align: left;
	font-weight: bold;
}

.parentChildLabel {
	text-align: left;
	font-weight: bold;
}

.sectionSelectContent {
	text-align: left;
	overflow:auto;
	overflow-x:hidden;
	height:155px;
	width: auto;
	border:1px solid #ececec;
	font-family: Arial,Helvetica,sans-serif  !important;
	font-size: 8pt !important;
}

.documentSelectContent {
	vertical-align: top;
	text-align: left;
	height:20px;
	width: auto;
	border:1px solid #ececec;
	font-family: Arial,Helvetica,sans-serif  !important;
	font-size: 8pt !important;
}

.parentChildContent {
	vertical-align: top;
	text-align: left;
	overflow:auto; !important;
	height: 163px;
	width: 400px;
	border:1px solid #ececec;
	font-family: Arial,Helvetica,sans-serif  !important;
	font-size: 8pt !important;
	list-style: none;
}