.hide{
	display:none !important;
}
.RootButton[disabled]{
	color:darkgrey;
}
.RootButton[disabled]:hover{
	border: 1px solid #aaaaaa !important;
}
.reportLink{
	font-weight:bold;
	color:black;
	padding-top: 1px;
}
.newReport{
	background: #FF4D4D;
	color:white;
	margin-left:4px;
	display: inline-block;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Arial,Helvetica,sans-serif  !important;
	font-size: 11px !important;
	height: 16px;
	white-space: nowrap;
	line-height: 0px !important;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	text-indent: 0;
	width: auto;
	cursor: default;
	border:1px solid #AAAAAA;
	text-shadow: none !important;
	font-weight:bold;
	border-radius:5px;
	background-image: -moz-linear-gradient(100% 100% 90deg, #E60000, #FF4D4D);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF4D4D), to(#E60000));
	background-image: -webkit-linear-gradient(#FF4D4D, #E60000);
	background-image: -o-linear-gradient(#FF4D4D, #E60000);
	background-image: -ms-linear-gradient(#FF4D4D, #E60000);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF4D4D', endColorstr='#E60000',GradientType=0 );
	
}
.zipIcon {
  background-image: url("images/archive.gif");
  width:16px;
  height:16px;
  vertical-align:middle;
  display:inline-block;
  border:0px;
  margin-left:4px;
  cursor: pointer;
  margin-top: 2px;
}
.reportLabel{
	
    cursor: default;
    padding-left: 3px;
    padding-right: 3px;
    font-weight:bold;
}
.StandardButtonContainer{
	text-align:center;
}

.DeleteRecordBackground:hover{
	background-color:red;
}
.ConfirmCancelButtonContainer{
	text-align:center;
}
.reportListing thead th{
	border: 1px solid #eeeeee;
    font-weight: bold;
    min-width: 50px;
    vertical-align: top;
    white-space: nowrap;
	margin: 0;
	min-height: 16px;
	padding: 2px;
}
.listAllReport-container{
	font-size:8pt;
}
.reportListing{
	margin:0;
	padding:0;
	width:100%;
	background-color: white;
    border: 1px solid #ececec;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    min-width: 200px;
}
.reportField{
	white-space:nowrap;
	display:flex;
}
.dailySelector ul{
	overflow:auto;
	height:100px;
	width:350px;
	border:1px solid #ececec;
}
.dailySelector{
	border :0px !important;
}
.dailySelector:hover{
	border :0px !important;
}
.yearSelector{
	border :0px !important;
}
.operationSelector ul{
	overflow:auto;
	overflow-x:hidden;
	height:95px;
	width: 350px !important;
	border:1px solid #ececec;
}
.operationSelector{
	border :0px !important;
}
.operationSelector:hover{
	border :0px !important;
}
.SimpleGridDataCell table.embeddedTable{
	width:auto !important;
}
.textBold{
	font-weight:bold;
}
.multiselect-MainContainer{
	width : 300px !important;
}
.mgmtRptComment textarea{
	overflow:auto;
	height:100px;
	width:300px;
	border:1px solid #ececec;
}
.operationMultiSelect ul li{
	min-width: 0px;
    width : 320px !important;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x:hidden;
}
.divider{
	float: left;
	margin: 5px;
}