<html>
<body>

-----------------------------------------
<p>This is an automated message.</p>
<p>Please do not reply to the address above.</p> 
<p>Thank you.</p>
<p><b>IDS Datanet Service</b></p>
</body>
</html>