<script type="text/javascript">
<!--
	$(document).ready(function() {
		var url = "graph.html?${springMacroRequestContext.getQueryString()!""}&type=lookaheadToDate&size=medium&rand="+(new Date()).getTime();
		$("#dvdgraph").attr("src",url);
		if(! $.browser.msie) {
			$("#ContentWrapperType1").height(self.innerHeight - 170 + "px");
			$("#ContentWrapperType1").width(self.innerWidth - 35 + "px");
		}
	});
-->
</script>
<div align="center"><br/ ><img id="dvdgraph"></div>