<table class="inner-table">
	<tr>
		<th>Report Template</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>
			<a href="download.html?handlerId=reportTemplate&templateName=/public/templates/kpi_template.xlt">KPI Excel Report Template</a>   
		</td>
		<td>
			This template allow you to produce an excel KPI report.
		</td>
	</tr>
</table>
