.myAltRowClass { 
	background: #DDDDDC none repeat scroll 0 0 !important;
	color: #222222 !important;
}

.ui-widget-content .testingCSS {
	background: #fcfcdd none repeat scroll 0 0 !important;
}


.ui-widget-content {
	background: #f2f2f2 none repeat scroll 0 0;
	color: #222222;
} 

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 1px solid #79b7e7;
	background: #f2ee00 !important;
	font-weight: bold;
	color: #e17009;
}

.ui-state-default, .ui-widget-content .pricelist {
	border: 1px solid #c5dbec;
	background: #00FFB5 url("images/ui-bg_glass_85_dfeffc_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #2e6e9e;
}
.ui-state-default,.ui-widget-content .so {
	border: 1px solid #ffc0cb;
	background: #ffc0cb 50% 50% repeat-x;
	font-weight: bold;
	color: #ffc0cb;
}
.reportListing thead th{
	border: 1px solid #eeeeee;
    font-weight: bold;
    min-width: 50px;
    vertical-align: top;
    white-space: nowrap;
	margin: 0;
	min-height: 16px;
	padding: 2px;
}
.listAllReport-container{
	font-size:8pt;
}
.reportListing{
	margin:0;
	padding:0;
	width:100%;
	background-color: white;
    border: 1px solid #ececec;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    min-width: 200px;
}
.reportField{
	white-space:nowrap;
	display:flex;
}
.StandardButtonContainer{
	text-align:center;
}

.DeleteRecordBackground:hover{
	background-color:red;
}
.ConfirmCancelButtonContainer{
	text-align:center;
}

.container {
	height: 30px;
	text-align: center;
}

.container1 {
	width: 90%;
	height: 30px;
	border: 1px solid black;
	margin-bottom: 10px;
	text-align: center;
}

.boxes {
	width: 30%;
	display: inline-block;
	text-align: center;
}

h4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.ui-progressbar {
    position: relative;
}

.progress-label {
    position: absolute;
 /*   left: 50%; */
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    width: 100%;
    text-align: center;
}

.header {
  position: relative;
  min-height: 150px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	color: #915608;
}

.popupText{
	font-size: 8pt !important;
}

/*
.no-checkbox i.jstree-checkbox {
  display:none;  
}

.jstree li.jstree-open > a.jstree-anchor > i.jstree-checkbox,
.jstree li.jstree-closed > a.jstree-anchor > i.jstree-checkbox { display:none; }
*/

.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: .2em 0.5em;
    background: none;
}    
/*
.ui-widget-content {
    background: #f2f2f2 none repeat scroll 0 0;
    color: #222222;
} */
#jqGrid_main .ui-widget-content .ui-state-default{
	background-color: #dfeffc;
	border-color: #c5dbec;
	font-weight: bold;
	color: #2e6e9e;
}
#jqGrid_main .ui-widget-content{
	border-color: #c5dbec;
}
#jqGrid_main .ui-widget-content .ui-state-hover{
	background-color: #d0e5f5;
}
#jqgh_grid_costafedetail_cb{
	margin-top: 0;
	height: 18px;
}
.ui-jqgrid .ui-jqgrid-bdiv{
	overflow-y: scroll;
}
.ui-tabs-anchor{
	cursor: pointer;
}