/*JQuery UI Dialog Override*/
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    text-align: center;
    float: none !important;
} 

.ui-dialog-titlebar-close {
  visibility: hidden;
}

.ui-dialog .ui-dialog-buttonpane button {
	margin: 0;
}

.ui-button {
	margin: 0;	
}

.ui-dialog .ui-dialog-buttonpane {
	padding: 0.2em;
}

.ui-layout-center {
	text-align: left !important;
}

.ui-layout-center > p {
	margin-left: 10px !important;
}

.alertMessage {
	line-height: 42px;
	text-align: left;
}

.alertMessage > img {
	padding-right: 10px;
}