.triggerTimerContainer {
	margin-left: 5px;
}

.triggerTimerContainer div {
	float: left;
	padding-left: 5px;
}

.triggerTimerContainer label {
	float: left;
}

.triggerTimerContainer select {
    font-family: Arial,Helvetica,sans-serif; 
    font-size: 8pt;
}

.triggerTimerContainer option {
    font-family: Arial,Helvetica,sans-serif; 
    font-size: 8pt;
}